.color-nav {
    background-color: #263740;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: #88c5cc !important;
}