$colors: (color-theme: #88C5CC,
    color-secondary: #88A3CC,
    color-body: #88CCB1,
    color-heading: #ffffff,
    color-border: #88a3cc0a,
    color-bg-body: #1e2c2e,
    color-bg-dark: #0c0e16,
)